{% extends "_base.html" %}

{% set title = "AstroQD's Website" %}
{% set description = "My personal website and blog." %}

{% block content %}
  <h2>Hello!</h2>
  <p>I'm AstroQD, I am a programming enthusiastic, my hobbies are Drawing, Sketching and Painting</p>

  <p>For a list of my projects, take a look at <a href="/projects">/projects</a> or my Github which is linked below.</p>

  <h2>Contact</h2>
  <ul>
    <li>Email - <a href="mailto:astroqd@gmail.com"><code>AstroQD@gmail.com</code></a></li>
    <li>Github - <a href="https://github.com/BeastYTX"><code>AstroQD</code></a></li>
  </ul>
{% endblock %}
